*{
    padding: 0;
    margin: 0;
}


.card{
    background-color: grey;
    width: 400px;
    height: 800px;
    font-family: sans-serif;
}

.title{
    background-color: rgb(132, 231, 124);
    align-content: center;
    border: 1px solid red;
}
